html {
    height: 100% !important
}

body {
    background-color: #e9e4c9ba;
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
}

footer {
    margin-top: auto !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-color: rgba(221, 216, 188, 0.73);
    color: rgba(162, 162, 162, 0.51);
}

section {
    flex-direction: column;
}

textarea {
    resize: none;
}
